In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('/Users/gautamborgohain/Google Drive/Data Extraction /actors_scores.xlsx')
df.head()

,name,BAFTA_noms,BAFTA_wins,BFCAA_noms,BFCAA_wins,GG_noms,GG_wins,Oscar_noms,Oscar_wins,SAG_noms,...,Big_5_nom_rate,Big_5_strike_rate,Big_5_Win_rate,Nom_Weighted,Win_Weighted,BONUS1,BONUS2,Bouns,Total Score((Normalized)),Total Score(Not weighted)
0,Tom Holland,0,0,1,0,0,0,0,0,0,...,0.083333,0.000000,0.000000,21,27,0,0,0,4.000000,2.416667
1,Alexandra Daddario,0,0,0,0,0,0,0,0,0,...,0.000000,NaN,0.000000,4,0,0,0,0,0.102564,0.102564
2,Tom Hardy,2,1,2,1,0,0,1,0,0,...,0.102041,0.400000,0.040816,90,52,0,0,0,2.897959,2.061224
3,Leonardo DiCaprio,4,1,7,2,11,3,6,1,9,...,1.000000,0.216216,0.216216,312,256,2,3,5,15.486486,9.594595
4,Robin Wright,0,0,0,0,4,1,0,0,7,...,0.207547,0.090909,0.018868,64,32,0,0,0,1.811321,1.188679

In [11]:
df.describe()

,BAFTA_noms,BAFTA_wins,BFCAA_noms,BFCAA_wins,GG_noms,GG_wins,Oscar_noms,Oscar_wins,SAG_noms,SAG_wins,...,Big_5_nom_rate,Big_5_strike_rate,Big_5_Win_rate,Nom_Weighted,Win_Weighted,BONUS1,BONUS2,Bouns,Total Score((Normalized)),Total Score(Not weighted)
count,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,...,1915.000000,938.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000,1915.000000
mean,0.422454,0.113316,0.327415,0.099217,0.961358,0.245953,0.361358,0.091906,1.101305,0.250131,...,0.059545,0.213174,0.014278,25.985379,25.738903,0.143081,0.214621,0.357702,1.056050,0.635306
std,1.397721,0.543033,0.988362,0.388678,2.306814,0.788222,1.162354,0.372672,2.324773,0.744604,...,0.118930,0.279813,0.037402,42.313551,47.606820,0.515586,0.773378,1.288964,2.181658,1.268744
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.076923
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.103571,0.000000,9.000000,8.000000,0.000000,0.000000,0.000000,0.382353,0.243243
75%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.066667,0.333333,0.007817,29.000000,26.000000,0.000000,0.000000,0.000000,1.149832,0.703915
max,27.000000,11.000000,12.000000,4.000000,18.000000,7.000000,12.000000,5.000000,22.000000,8.000000,...,1.000000,1.000000,0.535714,367.000000,457.000000,2.000000,3.000000,5.000000,52.000000,31.000000

In [19]:
import numpy as np
import pylab as pl

class Radar(object):

    def __init__(self, fig, titles, labels, rect=None):
        if rect is None:
            rect = [0.05, 0.05, 0.95, 0.95]

        self.n = len(titles)
        self.angles = np.arange(0, 0+360, 360.0/self.n)
        self.axes = [fig.add_axes(rect, projection="polar", label="axes%d" % i) 
                         for i in range(self.n)]

        self.ax = self.axes[0]
        self.ax.set_thetagrids(self.angles, labels=titles, fontsize=14)

        for ax in self.axes[1:]:
            ax.patch.set_visible(False)
            ax.grid("off")
            ax.xaxis.set_visible(False)

        for ax, angle, label in zip(self.axes, self.angles, labels):
            ax.set_rgrids(range(1, 7), angle=angle, labels=label)
            ax.spines["polar"].set_visible(False)
            ax.set_ylim(0, 6)
        self.fig = fig

    def plot(self, values, *args, **kw):
        angle = np.deg2rad(np.r_[self.angles, self.angles[0]])
        values = np.r_[values, values[0]]
        self.ax.plot(angle, values, *args, **kw)
        self.fig.savefig('to.png')

In [4]:
A = df[df['name']=='Leonardo DiCaprio'][['name','Nom_rate','strike_rate','Win_rate','Big_5_nom_rate','Big_5_strike_rate','Big_5_Win_rate']]
A

,name,Nom_rate,strike_rate,Win_rate,Big_5_nom_rate,Big_5_strike_rate,Big_5_Win_rate
3,Leonardo DiCaprio,7.432432,3.4375,2.162162,1,0.216216,0.216216

In [5]:
B = df[df['name']=='Tom Hardy'][['Nom_rate','strike_rate','Win_rate','Big_5_nom_rate','Big_5_strike_rate','Big_5_Win_rate']]
B

,Nom_rate,strike_rate,Win_rate,Big_5_nom_rate,Big_5_strike_rate,Big_5_Win_rate
2,1.734694,5.3125,0.326531,0.102041,0.4,0.040816

In [11]:

def compareActors(act1,act2):
    plt.style.use('seaborn-darkgrid')
    
    titles = ['Overall Nomination Rate','Overall Strike Rate','Overall Win Rate','Big 5 nommination rate','Big 5 strike rate','Big 5 Win rate']
    labels = [
        list("12345"), list("12345"), list("12345"), 
       list("12345"),list("12345"),list("12345")
    ]
    fig = pl.figure(figsize=(8, 8))
    
    #Search dataframe for the actor
    
    A = df[df['name']==act1][['name','Nom_rate','strike_rate','Win_rate','Big_5_nom_rate','Big_5_strike_rate','Big_5_Win_rate']]
    A = np.array(A).ravel()
    Act1 = A[0]# Actor name
    A = A[1:len(A)]
    
    B = df[df['name']==act2][['name','Nom_rate','strike_rate','Win_rate','Big_5_nom_rate','Big_5_strike_rate','Big_5_Win_rate']]
    B = np.array(B).ravel()
    Act2 = B[0]# Actor name
    B = B[1:len(B)]
    
    combined = A+B
    Max = 5
    Min = 1
    actualMax = np.max(combined)
    actualMin = np.min(combined)

    percentA = (A - actualMin) / (actualMax - actualMin);
    outputA = percentA * (Max - Min) + Min;

    percentB = (B - actualMin) / (actualMax - actualMin);
    outputB = percentB * (Max - Min) + Min;

    radar = Radar(fig, titles, labels)
    radar.plot(outputA,"-", lw=2, color="b", alpha=0.4, label=Act1)
    radar.plot(outputB,"-", lw=2, color="r", alpha=0.4, label=Act2)
    radar.ax.legend(loc = (-0.3,0.1))

In [20]:
compareActors('Leonardo DiCaprio','Tom Hardy')

In [66]:
plt.style.available

['seaborn-colorblind',
 'seaborn-bright',
 'seaborn-darkgrid',
 'seaborn-white',
 'fivethirtyeight',
 'seaborn-dark',
 'seaborn-dark-palette',
 'seaborn-poster',
 'seaborn-pastel',
 'seaborn-notebook',
 'seaborn-muted',
 'seaborn-ticks',
 'seaborn-paper',
 'seaborn-whitegrid',
 'classic',
 'seaborn-deep',
 'dark_background',
 'ggplot',
 'seaborn-talk',
 'grayscale',
 'bmh']